# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Video test files
*.mov
*.MOV
*.mp4
*.MP4
